@use "../../App.scss" as vars;

.title-learnCode {
  background: linear-gradient(to top, vars.$lightRed, rgba(0, 0, 0, 1) 140%);
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  font-family: monospace;
  font-size: 35px;
  font-weight: 900;
}

.header {
  background-image: linear-gradient(to right, #151515ee, black);
}

.avatar-initials {
  text-decoration: none;
  text-align: center;
  font-weight: 600;
  color: white;
  font-size: 1rem;
  background-color: vars.$darkRed;
  padding: 0.8rem;
  box-shadow: 0px 0px 5px 1px vars.$lightRed;
  border-radius: 2rem;
}